.sb-center-parent {
    position: relative;
}
.sb-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.sb-vertical-center {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.sb-horizontally-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

